<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부동산</title>
</head>
<body>
    <main>
        <form action="/#", method="#">
            <!-- title -->
            <label for="apartment">Apartment Title</label>
            <input type="text" name="apartment" id="apartment" placeholder="AP Title">
            <!-- Address -->
            <label for="address">Address</label>
            <input type="text" name="address" id="address" placeholder="Address Title">
            <!-- city -->
            <label for="#">City</label>
            <input type="text" name="city" id="city" placeholder="City Title">
            <!-- Price -->
            <label for="#">Selling_price</label>
            <input type="number" name="selling_price" id="selling_price">
            <label for="#">Jeonse_price</label>
            <input type="number" name="jeonse_price" id="jeonse_price">
            <!-- User birthday date -->
            <label for="#">Update</label>
            <input type="date" name="#" id="update">
        </form>
        <button name="buy" id="buy">Buy</button>
        <button name="sell" id="sell">Shell</button>
    </main>
</body>
</html>