<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자산관리</title>
</head>
<body>
    <main>
        <!-- Asset Management (AMM) -->
        <form action="/amm", method="post"> 
            <section id="user_account">
                <label for="">계좌</label>
                <!-- User account information -->
                <input type="number" name="account_number">
                
                <!-- Account Money Information -->
                <input type="number" name="account_balance" id="account_balance">
                
                <!-- remittance -->
                <input type="number" name="credit_input" id="credit_input" class="#">
                <input type="date" name="user_birthday" id="user_birthday">
                <button id="credit" name="credit">송금</button>

                <!-- withdraw -->
                <input type="number" name="" id="debit_input" class="#">
                <button id="debit" name="debit">출금</button>
            </section>
        </form>
        <script async src="../public/saving_script.js"></script>
    </main>
</body>
</html>